<!-- start custom head snippets -->

<style>

@font-face {
    font-family: "Brill";
    src: url("/fonts/BrillBold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Brill";
    src: url("/fonts/BrillItalic.woff");
    font-style: italic;
}


@font-face {
    font-family: "Brill";
    src: url("/fonts/BrillBoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Brill";
    src: url("/fonts/BrillRoman.woff");
}

@font-face {
    font-family: "Brill";
    src: url("/fonts/Baskerville.ttc");
}

@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);

.arabic{
  font-family: 'Amiri', 'Geeza Pro', 'Courier New', 'Arial', 'LateefRegular';
  line-height: 1.5;
  margin: 30px 0;
  direction: rtl;
}

</style>


<!-- end custom head snippets -->